@import 'src/pages/variables';

.podcast {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    @media (min-width: $size-limit-medium) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    li {
      margin: .4rem;

      iframe {
        height: 220px;
        width: 100%;
        border: none;
        padding-bottom: 0;
        @media (min-width: $size-limit-medium) {
          width: 500px;
        }
      }

      h4{
        margin-top: 0;
        margin-bottom: .5rem;
      }
    }
  }
}

